@import '../../_branding';
#leaderboard {
    @include contentWrapper;
    #leaderboard__content {
        @include contentBodyText;
    }
    p {
        white-space: nowrap;
        text-align: center;
    }
    h2 {
        text-align: left;
    }

    .row {
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        justify-content: center;
        overflow: hidden;
        & > * {
            flex: 1 14.28%;
            margin-bottom: 5px;
        }
    }

    @media only screen and (max-width: 992px) {
        .leaderboard__column1 {
            display:none;
        }
    }

  
    a:hover {
        text-decoration: none;
        opacity: 0.7;
    }

    .leaderboard__link {
        color: $headingsLinksColor;
        text-decoration: none;
        position: relative;
        &::after {           
            background-attachment: scroll;
            background-color: $headingsLinksColor;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            bottom: -3px;
            color: rgba(0, 0, 0, 0);
            content: ".";
            display: block;
            height: 1px;
            left: 50%;
            line-height: 27.15px;
            position: absolute;
            right: 0px;
            transform: translate(-50%);
            width: 110%;            
        }
    }
}
