@import '../../_branding';
#submit {
    @include contentWrapper;
    #submit__content {
        @include contentBodyText;
    }

    #submit__dropdown__winners {
        .dropdown-menu.show {
            height: 60px !important;
        }
    }

    .submit__button {
        outline: none;
        align-items: center;
        width: 200px;
        height: 39px;
        background: transparent;
        border: 0.8px solid $headingsLinksColor;
        border-radius: 4px;
        color: $headingsLinksColor;
        cursor: pointer;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        justify-content: center;
        line-height: 24.15px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        padding-bottom: 6.71667px;
        padding-left: 24.15px;
        padding-right: 24.15px;
        padding-top: 6.71667px;
        text-align: center;
        transition-delay: 0s;
        transition-duration: 0.4s;
        transition-property: all;
        transition-timing-function: linear;
        &:hover {
            transition-duration: 0.4s;
            transition-property: all;
            background: $headingsLinksColor;
            color: black;
        }
    }

    .input-group, {
        width: 80%;
        height: 36px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    
        input {
            opacity: 0.7;
            color: $headingsLinksColor;
            cursor: text;
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            line-height: 25.2px;
            min-width: 55px;
            padding-bottom: 4px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 4px;
        }
    }

    .form-control {
        height: 36px;
        background-color: $formGray;
        border: 1px solid $formBorder;
        border-right: none;
        &:focus {
            box-shadow: none;
        }
    }

    .input-group-append {
        width: 28.8px;
        margin-left: 0px;
        .dropdown-toggle.btn.btn-secondary {
            opacity: 0.7;
            color: $formBorder;
            height: 36px;
            background-color: $formGray;
            border: 1px solid $formBorder;
            border-left: none;
            &:focus {
                box-shadow: none;
            }
            &::before {
                content: '';
                height: 90%;
                border-left: 1px solid $formBorder;
                position: relative;
                left: -5px;
            }
        }
    }

    .dropdown-menu.show {
        text-align: center;
        width: calc(100% + 10px);
        top: 34px !important;
        transform: none !important;
        border-top: none !important;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background-color: $formGray;
        border: 1px solid $formBorder;
        overflow-Y: auto;
        height: 136px;
       
        .dropdown-item {
            &:nth-child(1) {
                color: red !important;
                margin-top: -7px;
            }
            color: $headingsLinksColor;
            cursor: pointer;
            display: block;
            font-family: "Open Sans", sans-serif;
            font-size: 13.4167px;
            line-height: 24.15px;
            padding-bottom: 1.35px;
            padding-left: 4.03333px;
            padding-right: 4.03333px;
            padding-top: 1.35px;
            &:hover {
                background-color: $formDropdown;
            }
        }
    }
     
    .submit__success__content {
        visibility: hidden;
        height: 110px;
        width: 300px;
        position: absolute;
        top: 62px;;
        right: 50%;
        border: 1px solid #28a745;
        transform: translateX(50%);
        background: none;
        border-radius: 4px;
        z-index: 99;
        opacity: 0;
        transition: all 1.5s;
        
       
        h3 {            
            color: #28a745;
            font-size: 17.5px;
            margin: 0px;
            padding: 0px;
            position: absolute;
            top: 9px;
            left: 65px;
            &::after {
                border-bottom: 2px solid #28a745;
                bottom: -1.16667px;
                color: #28a745;
                content: "";
                display: block;
                height: 1px;
                left: 50%;
                line-height: 27.15px;
                position: absolute;
                right: 0px;
                transform: translate(-50%);
                width: 100%;
            }
            &.--positionFix {
                top: 7px;
            }
        }

        h4 {
            font-size: 16px; 
            color: #28a745;
            position: relative;
            font-weight: 600;
            &.--top {
                top: 7px;
            }
            &.--bottom {
                top: 2px;
            }
           /*  &::after {                
                border-bottom: 2px solid #28a745;
                bottom: -1.16667px;
                color: #28a745;
                content: ".";
                display: block;
                height: 1px;
                left: 0px;
                line-height: 27.15px;
                position: absolute;
                right: 0px;
                width: 50%;
                
            } */
        }
        

        p {
            color: #28a745;
            font-size: 13.4167px;
            line-height: 24.15px;
            white-space: nowrap;
            margin: 0px;
            padding: 0px;
            position: absolute;
            top: 30px;
            left: 65px;
            &.--positionFix {
                top: 28px;
            }
        }

        .span--top {
            color: #28a745;
            font-size: 13.4167px;
            line-height: 24.15px;
            white-space: nowrap;
            margin: 0px;
            padding: 0px;
            position: absolute;
            top: 5px;
            left: 80px;
        }

        .span--bottom {
            color: #28a745;
            font-size: 13.4167px;
            line-height: 24.15px;
            white-space: nowrap;
            margin: 0px;
            padding: 0px;
            position: absolute;
            top: 0px;
            left: 80px;
        }

        .submit__success__content__receipt {
            border: 0.5px solid red;
            height: 60px;
            width: 50%;
            float: left;
            padding: 0px;
            position: relative;
            top: 50px;
          
          
            h4 {            
                color: #28a745;
                font-size: 17.5px;
                padding: 0px;
                margin: 0px;
                margin-left: 10px;
                white-space: nowrap;
            }
        }
        .submit__success__content__receipt__row {
            height: 50%;
            width: 100%;
            display: flex;
            align-items: center;
        }
    }
   
}

@media only screen and (max-width: 768px) {
    .hide {
        display: none;
    }
    .submit__success__content {
        width: 210px !important;
       
    }
   
}

@media only screen and (max-width: 467px) {
    #submit {
        margin-top: 110px !important;
    }
}