@import '../../_branding';
#player {
    @include contentWrapper;
    #player__content {
        @include contentBodyText;
    }

    .row {
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        justify-content: center;
        overflow: hidden;
        & > * {
            flex: 1 25%;
            margin-bottom: 20px;
        }
    }

    .center__chart {
        width: 80%;
        height: 200px;
        
        margin-left: auto;
        margin-right: auto;
    }

    @media only screen and (max-width: 568px) {
        .row {
            & > * {
                flex: 1 50% !important;
            }
        }
    }

    @media only screen and (max-width: 434px) {
        .row {
            & > * {
                flex: 1 100% !important;
            }
        }
    }


    p {
        text-align: justify;
    }

    .player__name {
        margin-left: 20px;
        font-weight: 700;
        margin-bottom: 0px;
    }

    .player__name--2 {
        margin-left: 20px;
        font-weight: 700;
        margin-bottom: 0px;
    }

    .player__opponent {
        font-weight: 700;
        margin-left: 40px;
        margin-bottom: 0px;
    }

    .player__game {
        font-weight: 700;
        margin-left: 40px;
        margin-bottom: 0px;
        &.--game2 {
            margin-left: 60px;
        }
    }

    .player__item {
        margin-left: 60px;
        margin-bottom: 0px;
        &.--item2 {
            margin-left: 80px;
        }
    }

    .darken {
        font-weight: 700;
    }
}